@import "../../-variables.scss";
.top-menu {
  li {
    display: inline-block;
    height: 30px;
    width: 30px;
    background: #000;
    border-radius: 50px;
    text-align: center;
    margin-right: 2px;
  }
  a {
    color: #ffffff;
  }
  span {
    vertical-align: middle;
  }
}
.top_contact {
  i {
    font-size: 16px;
    color: $orange-color;
    padding-right: 4px;
  }
  span {
    color: $primary-color;
  }
}
