@import "../../-variables.scss";
@import "../../mixin.scss";
.top-menu {
  li {
    @include list_social_icon;
  }
  a {
    color: #ffffff;
  }
  span {
    vertical-align: middle;
  }
}
.top_contact {
  i {
    font-size: 16px;
    color: $orange-color;
    padding-right: 4px;
  }
  span {
    color: $primary-color;
  }
}
