<header class="main-header bg-white position-sticky">
  <nav class="navbar navbar-light custom-nav navbar-expand-lg fixed-top">
    <div class="container">
      <a class="navbar-brand px-4 m-0 fw-bold nav-text" href="#"
        >Selling <span class="logo-dot">.</span></a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="offcanvas offcanvas-end"
        tabindex="-1"
        id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
          <button
            type="button"
            class="btn-close text-reset"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body ml-auto">
          <ul class="navbar-nav justify-content-end flex-grow-1 cutom-list p-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="#"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="#">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="#">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="#">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="#">Special</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="#">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
