<section class="banner_sec">
  <div class="banner">
    <div class="container">
      <div class="row banner-content">
        <div class="col-md-8">
          <div class="">
            <h1 class="text-white font-weight-bold banner-head px-4">
              Shop With Us
            </h1>
            <p class="text-white banner-text lead px-4 mb-0 py-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Laboriosam assumenda ea quo cupiditate facere deleniti fuga
              officia.
            </p>
          </div>
          <div class="banner-button px-4">
            <a
              href=""
              class="btn btn-outline px-4 text-white py-2 me-2 rounded-0"
              >Shop Now</a
            >
            <a
              href=""
              class="
                btn btn-outline
                px-4
                text-dark
                bg-white
                fw-bold
                py-2
                rounded-0
              "
              >Club Membership</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="product_sec">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center product-head">
        <h3>Popular Products</h3>
        <h2 class="same-heading">Our Products</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
          nostrum natus excepturi fuga ullam accusantium vel ut eveniet aut
          consequatur laboriosam ipsam.
        </p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4 mb-5">
        <div class="product-item">
          <div class="product-img mb-5">
            <img src="assets/img/item1.webp" class="img-fluid p_img" />
          </div>
          <div class="product-content">
            <h3>Wild West Hoodie</h3>
            <ul class="p-0">
              <li class="d-inline-block">
                <a routerLink="">
                  <i class="fas fa-star px-2"></i>
                </a>
                <span>5.0</span>
              </li>
              <li class="d-inline-block">
                <a routerLink="">
                  <i class="fas fa-heart px-2"></i>
                </a>
                <span>4.0</span>
              </li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
            <div class="product_action">
              <a routerlink="" class="btn btn-outline rounded-0 me-2">Cart</a>
              <a routerlink="" class="btn btn-outline-black rounded-0">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="product-item">
          <div class="product-img mb-5">
            <img src="assets/img/item2.webp" class="img-fluid" />
          </div>
          <div class="product-content">
            <h3>Wild West Hoodie</h3>
            <ul class="p-0">
              <li class="d-inline-block">
                <a routerLink="">
                  <i class="fas fa-star px-2"></i>
                </a>
                <span>5.0</span>
              </li>
              <li class="d-inline-block">
                <a routerLink="">
                  <i class="fas fa-heart px-2"></i>
                </a>
                <span>4.0</span>
              </li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
            <div class="product_action">
              <a routerlink="" class="btn btn-outline rounded-0 me-2">Cart</a>
              <a routerlink="" class="btn btn-outline-black rounded-0">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="product-item">
          <div class="product-img mb-5">
            <img src="assets/img/item3.webp" class="img-fluid" />
          </div>
          <div class="product-content">
            <h3>Wild West Hoodie</h3>
            <ul class="p-0">
              <li class="d-inline-block">
                <a routerLink="">
                  <i class="fas fa-star px-2"></i>
                </a>
                <span>5.0</span>
              </li>
              <li class="d-inline-block">
                <a routerLink="">
                  <i class="fas fa-heart px-2"></i>
                </a>
                <span>4.0</span>
              </li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
            <div class="product_action">
              <a routerlink="" class="btn btn-outline rounded-0 me-2">Cart</a>
              <a routerlink="" class="btn btn-outline-black rounded-0">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="product-item">
          <div class="product-img mb-5">
            <img src="assets/img/item4.webp" class="img-fluid p_img" />
          </div>
          <div class="product-content">
            <h3>Wild West Hoodie</h3>
            <ul class="p-0">
              <li class="d-inline-block">
                <a routerLink="">
                  <i class="fas fa-star px-2"></i>
                </a>
                <span>5.0</span>
              </li>
              <li class="d-inline-block">
                <a routerLink="">
                  <i class="fas fa-heart px-2"></i>
                </a>
                <span>4.0</span>
              </li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
            <div class="product_action">
              <a routerlink="" class="btn btn-outline rounded-0 me-2">Cart</a>
              <a routerlink="" class="btn btn-outline-black rounded-0">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="product-item">
          <div class="product-img mb-5">
            <img src="assets/img/item5.jfif" class="img-fluid" />
          </div>
          <div class="product-content">
            <h3>Wild West Hoodie</h3>
            <ul class="p-0">
              <li class="d-inline-block">
                <a routerLink="">
                  <i class="fas fa-star px-2"></i>
                </a>
                <span>5.0</span>
              </li>
              <li class="d-inline-block">
                <a routerLink="">
                  <i class="fas fa-heart px-2"></i>
                </a>
                <span>4.0</span>
              </li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
            <div class="product_action">
              <a routerlink="" class="btn btn-outline rounded-0 me-2">Cart</a>
              <a routerlink="" class="btn btn-outline-black rounded-0">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="product-item">
          <div class="product-img mb-5">
            <img src="assets/img/item-6.webp" class="img-fluid" />
          </div>
          <div class="product-content">
            <h3>Wild West Hoodie</h3>
            <ul class="p-0">
              <li class="d-inline-block">
                <a routerLink="">
                  <i class="fas fa-star px-2"></i>
                </a>
                <span>5.0</span>
              </li>
              <li class="d-inline-block">
                <a routerLink="">
                  <i class="fas fa-heart px-2"></i>
                </a>
                <span>4.0</span>
              </li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
            <div class="product_action">
              <a routerlink="" class="btn btn-outline rounded-0 me-2">Cart</a>
              <a routerlink="" class="btn btn-outline-black rounded-0">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!----------update section-------------->
<section class="update_sec">
  <div class="update-background">
    <div class="container">
      <div class="row text-center pt-5">
        <div class="col-md-7 m-auto mt-4">
          <form method="">
            <h2 class="form-head mb-5">Get notified on each updates.</h2>
            <div class="d-flex">
              <input
                type="text"
                class="form-control rounded-0 email_add_input"
                placeholder="Enter Your Email Address"
              />
              <input
                type="submit"
                class="btn btn-subscribe text-uppercase fw-bold"
                value="subscribe"
              />
            </div>
            <p class="form-content text-white">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
              commodi veniam doloremque ducimus tempora.
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-----------featured section---------------->
<section class="product_sec" id="featured_products">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center product-head">
        <h3>AWESOME PRODUCTS</h3>
        <h2 class="same-heading">Featured Products</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
          nostrum natus excepturi fuga ullam accusantium vel ut eveniet aut
          consequatur laboriosam ipsam.
        </p>
      </div>
    </div>
    <div class="bg-white py-4">
      <div class="row mx-4 my-4">
        <div class="col">
          <img src="../../assets/img/f1.webp" class="img-fluid" />
        </div>
        <div class="col-md-5 ml-auto position-relative featured_sec_content">
          <span class="number position-absolute">01.</span>
          <h3>About This Product</h3>
          <p class="featured_content">
            Et tempora id nostrum saepe amet doloribus deserunt totam officiis
            cupiditate asperiores quasi accusantium voluptatum dolorem quae
            sapiente voluptatem ratione odio iure blanditiis earum fuga
            molestiae alias dicta perferendis inventore!
          </p>
          <p class="featured_content pt-4 pb-3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus
            soluta assumenda sed optio, error at?
          </p>
          <div class="price pb-4">
            <h3>Price</h3>
            <span class="delete_price"><del>$19.60</del></span>
            <span class="origional_price">$60.80</span>
          </div>
          <a routerlink="" class="btn btn-outline rounded-0 me-2"
            >VIEW DETAILS</a
          >
          <a routerlink="" class="btn btn-outline-black rounded-0"
            >ADD TO CART</a
          >
        </div>
      </div>
    </div>

    <div class="bg-white py-4">
      <div class="row mx-4 my-4">
        <div class="col-md-5 ml-auto position-relative featured_sec_content">
          <span class="number position-absolute">01.</span>
          <h3>About This Product</h3>
          <p class="featured_content">
            Et tempora id nostrum saepe amet doloribus deserunt totam officiis
            cupiditate asperiores quasi accusantium voluptatum dolorem quae
            sapiente voluptatem ratione odio iure blanditiis earum fuga
            molestiae alias dicta perferendis inventore!
          </p>
          <p class="featured_content pt-4 pb-3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus
            soluta assumenda sed optio, error at?
          </p>
          <div class="price pb-4">
            <h3>Price</h3>
            <span class="delete_price"><del>$19.60</del></span>
            <span class="origional_price">$60.80</span>
          </div>
          <a routerlink="" class="btn btn-outline rounded-0 me-2"
            >VIEW DETAILS</a
          >
          <a routerlink="" class="btn btn-outline-black rounded-0"
            >ADD TO CART</a
          >
        </div>
        <div class="col">
          <img src="../../assets/img/item-6.webp" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</section>

<!------about section----------------->
<section class="product_sec bg-white" id="about_sec">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="about_img_sec position-relative">
          <img src="../../assets/img/about.webp" class="img-fluid" />
          <div class="about_img_title position-absolute">
            <h3 class="trusted">Trusted Merchant</h3>
            <p class="year text-white px-2">FOR 50 YEARS</p>
          </div>
        </div>
      </div>

      <div
        class="col-md-3 ml-auto product-head position-relative"
        id="about_content"
      >
        <div class="about_content">
          <h3>Merchant Company</h3>
          <h2 class="same-heading">About Us</h2>
          <p class="pb-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
            nostrum natus excepturi fuga ullam accusantium vel ut eveniet aut
            consequatur laboriosam ipsam.
          </p>
          <a
            href=""
            class="btn btn-outline-black px-4 text-white py-2 me-2 rounded-0"
            >Learn More</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<!-------------leadership section----------->

<section class="product_sec bg-white" id="leadership">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center product-head">
        <h3>TEAM</h3>
        <h2 class="same-heading">Leadership</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
          nostrum natus excepturi fuga ullam accusantium vel ut eveniet aut
          consequatur laboriosam ipsam.
        </p>
      </div>
    </div>
    <div class="row justify-content-between">
      <div class="col-md-4">
        <div class="leadership-item text-center">
          <img src="../../assets/img/p1.webp" class="img-fluid w-75 rounded" />
          <h3 class="about_same_head pt-3">John Rooster</h3>
          <p class="about_same_position text-uppercase">
            Co-Founder, President
          </p>
          <p class="mb-4">
            Nisi at consequatur unde molestiae quidem provident voluptatum
            deleniti quo iste error eos est praesentium distinctio cupiditate
            tempore suscipit inventore deserunt tenetur.
          </p>
          <ul class="about_list p-0">
            <li>
              <span><i class="fab fa-facebook-f"></i></span>
            </li>
            <li>
              <span><i class="fab fa-twitter"></i></span>
            </li>
            <li>
              <span><i class="fab fa-linkedin-in"></i></span>
            </li>
            <li>
              <span><i class="fab fa-instagram"></i></span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="leadership-item text-center">
          <img src="../../assets/img/p2.webp" class="img-fluid w-75 rounded" />
          <h3 class="about_same_head pt-3">Tom Sharp</h3>
          <p class="about_same_position text-uppercase">Co-Founder, COO</p>
          <p class="mb-4">
            Nisi at consequatur unde molestiae quidem provident voluptatum
            deleniti quo iste error eos est praesentium distinctio cupiditate
            tempore suscipit inventore deserunt tenetur.
          </p>
          <ul class="about_list p-0">
            <li>
              <span><i class="fab fa-facebook-f"></i></span>
            </li>
            <li>
              <span><i class="fab fa-twitter"></i></span>
            </li>
            <li>
              <span><i class="fab fa-linkedin-in"></i></span>
            </li>
            <li>
              <span><i class="fab fa-instagram"></i></span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="leadership-item text-center">
          <img src="../../assets/img/p3.webp" class="img-fluid w-75 rounded" />
          <h3 class="about_same_head pt-3">Winston Hodson</h3>
          <p class="about_same_position text-uppercase">Marketing</p>
          <p class="mb-4">
            Nisi at consequatur unde molestiae quidem provident voluptatum
            deleniti quo iste error eos est praesentium distinctio cupiditate
            tempore suscipit inventore deserunt tenetur.
          </p>
          <ul class="about_list p-0">
            <li>
              <span><i class="fab fa-facebook-f"></i></span>
            </li>
            <li>
              <span><i class="fab fa-twitter"></i></span>
            </li>
            <li>
              <span><i class="fab fa-linkedin-in"></i></span>
            </li>
            <li>
              <span><i class="fab fa-instagram"></i></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-----------sale section-------------->
<section id="sale">
  <div class="sale-background">
    <div class="container">
      <div class="row justify-content-center py-5">
        <div class="col-md-6 text-center">
          <h3 class="text-uppercase sale-head">Special Promo</h3>
          <h2 class="sale-heading text-white">Leadership</h2>
          <p class="text-white lead pb-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
            nostrum natus excepturi fuga ullam accusantium .
          </p>
          <ul class="sale_count_list p-0">
            <li class="sale_count_item">
              <span>00</span>
              <p>Weeks</p>
            </li>
            <li class="sale_count_item">
              <span>00</span>
              <p>Days</p>
            </li>
            <li class="sale_count_item">
              <span>00</span>
              <p>Hr</p>
            </li>
            <li class="sale_count_item">
              <span>00</span>
              <p>Min</p>
            </li>
            <li class="sale_count_item">
              <span>00</span>
              <p>Sec</p>
            </li>
          </ul>
          <a routerlink="" class="btn btn-outline-black rounded-0">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
</section>
