<section class="banner_sec">
  <div class="banner">
    <div class="container">
      <div class="row banner-content">
        <div class="col-md-8">
          <div class="">
            <h1 class="text-white font-weight-bold banner-head px-4">
              Shop With Us
            </h1>
            <p class="text-white banner-text lead px-4 mb-0 py-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Laboriosam assumenda ea quo cupiditate facere deleniti fuga
              officia.
            </p>
          </div>
          <div class="banner-button px-4">
            <a
              href=""
              class="btn btn-outline px-4 text-white py-2 me-2 rounded-0"
              >Shop Now</a
            >
            <a
              href=""
              class="
                btn btn-outline
                px-4
                text-dark
                bg-white
                fw-bold
                py-2
                rounded-0
              "
              >Club Membership</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="product_sec">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center product-head">
        <h3>Popular Products</h3>
        <h2 class="same-heading">Our Products</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
          nostrum natus excepturi fuga ullam accusantium vel ut eveniet aut
          consequatur laboriosam ipsam.
        </p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4 mb-5">
        <div class="product-item">
          <div class="product-img mb-5">
            <img src="assets/img/item1.webp" class="img-fluid p_img" />
          </div>
          <div class="product-content">
            <h3>Wild West Hoodie</h3>
            <ul class="p-0">
              <li class="d-inline-block">
                <a routerLink="">
                  <i class="fas fa-star px-2"></i>
                </a>
                <span>5.0</span>
              </li>
              <li class="d-inline-block">
                <a routerLink="">
                  <i class="fas fa-heart px-2"></i>
                </a>
                <span>4.0</span>
              </li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
            <div class="product_action">
              <a routerlink="" class="btn btn-outline rounded-0 me-2">Cart</a>
              <a routerlink="" class="btn btn-outline-black rounded-0">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="product-item">
          <div class="product-img mb-5">
            <img src="assets/img/item2.webp" class="img-fluid" />
          </div>
          <div class="product-content">
            <h3>Wild West Hoodie</h3>
            <ul class="p-0">
              <li class="d-inline-block">
                <a routerLink="">
                  <i class="fas fa-star px-2"></i>
                </a>
                <span>5.0</span>
              </li>
              <li class="d-inline-block">
                <a routerLink="">
                  <i class="fas fa-heart px-2"></i>
                </a>
                <span>4.0</span>
              </li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
            <div class="product_action">
              <a routerlink="" class="btn btn-outline rounded-0 me-2">Cart</a>
              <a routerlink="" class="btn btn-outline-black rounded-0">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="product-item">
          <div class="product-img mb-5">
            <img src="assets/img/item3.webp" class="img-fluid" />
          </div>
          <div class="product-content">
            <h3>Wild West Hoodie</h3>
            <ul class="p-0">
              <li class="d-inline-block">
                <a routerLink="">
                  <i class="fas fa-star px-2"></i>
                </a>
                <span>5.0</span>
              </li>
              <li class="d-inline-block">
                <a routerLink="">
                  <i class="fas fa-heart px-2"></i>
                </a>
                <span>4.0</span>
              </li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
            <div class="product_action">
              <a routerlink="" class="btn btn-outline rounded-0 me-2">Cart</a>
              <a routerlink="" class="btn btn-outline-black rounded-0">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="product-item">
          <div class="product-img mb-5">
            <img src="assets/img/item4.webp" class="img-fluid p_img" />
          </div>
          <div class="product-content">
            <h3>Wild West Hoodie</h3>
            <ul class="p-0">
              <li class="d-inline-block">
                <a routerLink="">
                  <i class="fas fa-star px-2"></i>
                </a>
                <span>5.0</span>
              </li>
              <li class="d-inline-block">
                <a routerLink="">
                  <i class="fas fa-heart px-2"></i>
                </a>
                <span>4.0</span>
              </li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
            <div class="product_action">
              <a routerlink="" class="btn btn-outline rounded-0 me-2">Cart</a>
              <a routerlink="" class="btn btn-outline-black rounded-0">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="product-item">
          <div class="product-img mb-5">
            <img src="assets/img/item5.jfif" class="img-fluid" />
          </div>
          <div class="product-content">
            <h3>Wild West Hoodie</h3>
            <ul class="p-0">
              <li class="d-inline-block">
                <a routerLink="">
                  <i class="fas fa-star px-2"></i>
                </a>
                <span>5.0</span>
              </li>
              <li class="d-inline-block">
                <a routerLink="">
                  <i class="fas fa-heart px-2"></i>
                </a>
                <span>4.0</span>
              </li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
            <div class="product_action">
              <a routerlink="" class="btn btn-outline rounded-0 me-2">Cart</a>
              <a routerlink="" class="btn btn-outline-black rounded-0">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="product-item">
          <div class="product-img mb-5">
            <img src="assets/img/item-6.webp" class="img-fluid" />
          </div>
          <div class="product-content">
            <h3>Wild West Hoodie</h3>
            <ul class="p-0">
              <li class="d-inline-block">
                <a routerLink="">
                  <i class="fas fa-star px-2"></i>
                </a>
                <span>5.0</span>
              </li>
              <li class="d-inline-block">
                <a routerLink="">
                  <i class="fas fa-heart px-2"></i>
                </a>
                <span>4.0</span>
              </li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
            <div class="product_action">
              <a routerlink="" class="btn btn-outline rounded-0 me-2">Cart</a>
              <a routerlink="" class="btn btn-outline-black rounded-0">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
